@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --header-bg-color: #ffffff;
    --white-bg-color: #ffffff;
    --sidebar-bg-color: #1992d4;
    --prime-container-color: #e2e8f0;
    --search-box-input: #e2e8f0;
    --search-box--put-hover: #0085cd;
    --button-color: #0085cd;
    --primary-font-color: "";
    --secondary--font-color: "";
    --sidebar-font-color: "";
    --left-border-color: orange;
    --primary-white: #ffffff;
    --separator-color: oklch(80% 0 150);
    --img-profiles-border: black;
    --paragraph-p-color: oklch(40% 0 0); 
}

.white {
    --header-bg-color: #ffffff;
    --white-bg-color: #ffffff;
    --sidebar-bg-color: oklch(59.333% 0.14503 243.555);
    --prime-container-color: #e2e8f0;
    --search-box-input: #e2e8f0;
    --search-box--put-hover: oklch(59.333% 0.14503 243.555);
    --button-color: oklch(59.333% 0.14503 243.555);
    --button-color-hover: oklch(45% 0.14503 243.555);
    --primary-font-color: "";
    --secondary--font-color: "";
    --sidebar-font-color: "";
    --left-border-color: orange;
    --primary-white: #ffffff;
    --separator-color: oklch(80% 0 150);
    --img-profiles-border: black;
    --paragraph-p-color: oklch(40% 0 0);
}

.dark {
    color: oklch(98.4% 0.003 247.858);
    --header-bg-color: oklch(12.9% 0.042 264.695);
    --white-bg-color: oklch(12.9% 0.042 264.695);
    --sidebar-bg-color: oklch(12.9% 0.042 264.695);
    --prime-container-color: oklch(12.9% 0.042 264.695);
    --search-box-input: oklch(55.4% 0.046 257.417);
    --search-box--put-hover: oklch(63.7% 0.237 25.331);
    --button-color: oklch(63.7% 0.237 25.331);
    --button-color-hover: oklch(45.7% 0.237 25.331);
    --primary-font-color: "";
    --secondary--font-color: "";
    --sidebar-font-color: "";
    --accent-color: oklch(63.7% 0.237 25.331);
    --left-border-color: oklch(63.7% 0.237 25.331);
    --primary-white: oklch(98.4% 0.003 247.858);
    --separator-color: oklch(70.4% 0.04 256.788);
    --img-profiles-border: oklch(63.7% 0.237 25.331);
    --paragraph-p-color: oklch(98.4% 0.003 247.858);
    background-color: var(--white-bg-color);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: fit-content;
    justify-self: center;
    min-height: fit-content;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    
}


/* Design blow */

/* Main Grid Layout */

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: var(--sidebar-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
}

.header {
    background-color: var(--white-bg-color);
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 1fr;
    width: 100%;
    height: fit-content;
    justify-self: center;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
}

.prime-container {
    background-color: var(--prime-container-color);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    justify-content: center;
    align-items: center;
    /* padding: 0 1.5rem; */
    height: fit-content; 
    padding: 0 0 2rem 1rem;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr;
    margin: 2rem 0 0 0 ;
    
}

/* Inner grid layout below */

.left-project-container {
    justify-self: center;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 2rem 1fr;
}

.project-div {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

.project {
    background-color: var(--white-bg-color);
    border-left: 10px solid var(--left-border-color);
    border-radius: 8px; 
    height: 15rem /* min(10rem, fit-content) */;
    padding: 1rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-width: 1px 1px 1px 10px;
    box-shadow: 1px 2px 4px oklch(75% 1% 120 / 50%);
}

.project:hover, .content-wrapper:hover {
    cursor: pointer;
    border-width: 15px;
    box-shadow: 1px 2px 4px oklch(75% 1% 120 / 50%);  
    border-radius: 8px; 
}

.box-title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.box-icons {
    display: flex;
    justify-content: end;
    gap: 1rem;
    /* background-color: var(--left-border-color) */;
}

.right-side-container {
    display: grid; /* flex;
    flex-direction: column;
    align-items: center; */
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
    gap: 0rem;
}

.article-div /*, .trending-div */ {
    display: grid;
    justify-self: center;
    /* height: 70%;  */
    grid-template-columns: 1 / 1;
    grid-template-rows: 2rem 1fr;
    gap: 1rem;
    width: 90%;
    height: fit-content;
    padding: 0 0rem;
    
}

.article /*, .Trend-container */ {
    background-color: var(--white-bg-color);
    border-radius: 8px;
    font-size: 80%;
    padding: 2rem 2rem;
    height: fit-content;
    box-shadow: 1px 2px 4px oklch(75% 1% 120 / 50%);
    margin-bottom: 2rem;
}

.trending-div {
    display: grid;
    justify-self: center;
    /* height: 70%;  */
    grid-template-columns: 1 / 1;
    grid-template-rows: 2rem 1fr;
    gap: 1rem;
    width: 90%;
    height: fit-content;
    padding: 0 0rem;
    
}

.Trend-container /*article*/ {
    background-color: var(--white-bg-color);
    border-radius: 8px;
    font-size: 80%;
    padding: 2rem 1.5rem 2rem 1.5rem;
    display: grid;
    gap: 0.75rem;
    height: 19rem;
    box-shadow: 1px 2px 4px oklch(75% 1% 120 / 50%);
    
}

.article :nth-child(2n +3) {
    border-top: 0.1rem solid oklch(80% 0 150);
    margin-top: 1rem;
}

/* Header menu design */

.header-row-1 {
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    height: 3rem;
    

}

.header-search-box {
    display: flex;
    width: min(50rem, 50%);

}

.header-search-box label {
    display: flex;
    width: 3rem;
    
}

.header-search-box input {
    width: 90%;
    height: 2rem;
    border-radius: 15px;
    border: none;
    padding: 0 0 0 1rem;
    background-color:var(--search-box-input);
    box-shadow: 1px 2px 4px oklch(90% 1% 120 / 50%);
    
}

.header-search-box input:hover {
    width: 90%;
    height: 2rem;
    border-radius: 15px;
    outline: none;
    border: 1.5px solid var(--search-box--put-hover); 
    background-color:var(--search-box-input);
    box-shadow: 1px 2px 4px oklch(75% 1% 120 / 50%);
}


.profile-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18rem;
    height: 3rem;
    gap: 1rem;
    font-size: 1rem;
    /* border: 1px solid red; */
    padding: 0 1rem;
}

.header-notification-box {
   width: 3rem;
}

/* Header row 2 design */

.header-row-2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    margin: 2rem 0 0 0 ;
}

.welcome-box {
    display: flex;
    justify-content: start ;
    align-items: center;
    gap: 1rem;
}

.user-avatar {
    width: 5rem;
    height: 5rem;
}

.action-box {
    display: flex;
    width: 18rem;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    
}

.action-box button {
    width: 5rem;
    height: 2rem;
    padding: 0.5rem;
    border-radius:15px;
    background-color: var(--button-color);
    border: 1px solid var(--button-color) ;
    color: var(--primary-white);
}
.action-box button:hover {
    background-color: var(--button-color-hover);
}

/* Side menu design */
.dashboard {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 1rem 1rem 0rem 1rem;
    gap: 0.5rem;
    font-size: 1.5rem;
    color: var(--primary-white);
}

ul {
    margin: 0 0 0 2rem;
    
}

ul > li {
    list-style: none;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary-white);
    margin: 0;
    padding: 0.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.5rem;
    
}


/* Right-container design */

/* .Trend-container .trend-row:nth-child(n +2) {
    border-top: 0.1rem solid oklch(80% 0 150);
    
} */


.trend-avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%; 
}

img[src*="profiles"] {
    border: 3px solid var(--img-profiles-border);
    border-radius: 50%;
}

p, h2, h3, h4 {
    padding: 0;
    margin: 0;
    
}
p {
    color: var(--paragraph-p-color);
}

.trend-row {
    display: flex;
    justify-content: start ;
    align-items: center;
    gap: 1rem;
    font-size: 80%;
    padding: 0;
    margin: 0;
}

.trend-details {
    width: 70%;
}